.row {
  margin-bottom: 1rem;
  justify-content: space-around;
}

container-height{
  min-height:100vh;
}


.container-fluid {
  background-color: lightcyan;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  min-height:100vh;
}

.breakout-row {
  width: 100vw;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: white;
  padding: 3rem;
  width: 50%;
  border-radius: 10px;
  box-shadow: 4px 4px lightgrey;
}

.paddingCard {
  padding: 20px;
  margin-right: 5px;
  border-radius: 7px;
  box-shadow: 3px 3px lightgrey;
}

.header {
  text-shadow: 10px 10px lightgrey;
  font-weight: bold;
}
